# Build
target/
build/

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.nar
*.ear

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env / config local
.env
application-local.properties

# Crash logs
hs_err_pid*
replay_pid*