<nz-layout class="layout">

  <nz-sider *ngIf="!isAuthPage()" nzWidth="200px" class="sider">
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Avatar" class="avatar" />
      <div class="user_info">
        <strong>{{ getUserName() }}</strong>
      </div>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>

      <li nz-menu-item routerLink="/workout">
        <span nz-icon nzType="split-cells"></span>
        <span>Workout</span>
      </li>

      <li nz-menu-item routerLink="/activity">
        <span nz-icon nzType="control"></span>
        <span>Activity</span>
      </li>

      <li nz-menu-item routerLink="/goal">
        <span nz-icon nzType="fund"></span>
        <span>Goal</span>
      </li>

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/food">
          <span nz-icon nzType="coffee"></span> Diet & Nutrition
        </a>
      </li>

      <li nz-menu-item (click)="logout()" style="margin-top: auto; border-top: 1px solid rgba(255,255,255,0.1);">
        <span nz-icon nzType="logout" style="color: #ff4d4f;"></span> <span style="color: #ff4d4f;">Logout</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="right-layout">

    <nz-header *ngIf="!isAuthPage()" class="header"></nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>